.country .label {
	text-anchor: middle;
	font-family: "Roboto Condensed", "Lucida Sans", "Lucida Sans Regular",
		"Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-weight: 600;
}

circle {
	stroke-width: 2;
}

circle.fossil {
	@apply fill-none stroke-black/60;
	stroke-width: 1px;
}

circle.hydroelectric {
	@apply fill-blue-500/40;
}

circle.renewable {
	@apply fill-none stroke-green-900/60;
	stroke-width: 3px;
	stroke-dasharray: 2 4;
}
circle.nuclear {
	@apply fill-yellow-500/70;
}

.country .label {
	fill: #999;
	text-anchor: middle;
}
