---
import { getCollection, render } from "astro:content";
import Paper from "@layouts/Paper.astro";
import Header from '@layouts/articleHeader.astro';
import "@styles/article.css";

export async function getStaticPaths() {
	const articles = await getCollection("articles");
	return articles.map((article) => ({
		params: { slug: article.data.slug },
	}));
}

const { params } = Astro;
const slug = params.slug;
const articles = await getCollection("articles");
const article = articles.find((article) => article.data.slug === slug);
const { Content } = await render(article);
---

<Paper data = {article.data}>
	<main class="articleMain">
		<Header frontmatter = {article.data} />
	    <Content />
	</main>
</Paper>