---
import Scroller from "/src/graphics/template/scroller/Scroller.astro";
import SubduedSyrianTeenagers from "/src/graphics/demo/SubduedSyrianTeenagers.astro";
import Paper from "/src/layouts/Paper.astro";

// const faker = require ('faker');
const frontmatter = {
    title: "각국의 에너지원별 발전 비중",
};
---

<Paper frontmatter={frontmatter}>
    <div class="flex flex-col justify-center bg-green-50">
        <main class="box mx-auto">
            <article>
                <section class="">
                    <Scroller />
                </section>
            </article>
        </main>
    </div>
</Paper>
