@import "tailwindcss";

@plugin "flyonui";
@plugin "@iconify/tailwind4";
@import "flyonui/variants.css";
@source "../../../node_modules/flyonui/flyonui.js";

@theme {
    /* [Default Foundation] OS-specific system font stack reset */
    --font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
        "Segoe UI", Roboto, "Malgun Gothic", "Noto Sans KR", sans-serif;

    /* Core Spacing/Layout Tokens */
    --max-width-7xl: 80rem;
}

/* Base resets and foundational styles */
body {
    font-family: var(--font-sans);
    @apply text-[#363636] flex flex-col min-h-svh mb-0 items-center h-fit w-full;
    word-break: keep-all;
}

main {
    @apply mx-0 my-0 w-full md:max-w-7xl;
}

.paper {
    @apply m-0 p-0 grow w-full;
}

footer {
    @apply footer p-3 pt-7 pb-10 max-w-4xl m-auto border-t-[1px] border-neutral-200 text-sm h-fit;
}

.card {
    @apply shadow-none;
}