@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-pen.css");

.articleMain {
	@apply pb-10;
	/* ----------------------------------- */
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "NanumBarunPenB", "Noto Serif KR", "MaruBuri", "Yoon Daehan", "Times New Roman",
			Times, serif;
		@apply px-5 py-3 text-[#121212] max-w-[36rem] mx-auto;
	}

	h1 {
		@apply text-2xl/normal sm:text-3xl/normal;
	}
	h2 {
		@apply text-xl/normal font-normal;
	}

	p {
		font-family: "NanumBarunPen", "Noto Sans KR", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		@apply px-5 py-3 text-[1.25rem]/7 max-w-[36rem] mx-auto;
	}

	figure {
		@apply p-0 py-5 m-0 place-self-center sm:w-full md:p-5;
	}

	img {
		@apply aspect-[2/1] w-full object-cover sm:aspect-auto;
	}

	figcaption {
		@apply block text-sm/6 text-gray-600 not-italic py-2 px-5 sm:max-w-xl md:px-0;
		font-family: "Noto Sans KR", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	}
}