body {
}

section {
    padding: 1rem;
}

#sections {
	position: relative;
	display: inline-block;
	width: 250px;
	top: 0px;
	z-index: 50;
}

.step {
	margin-bottom: 200px;
}

#vis {
	display: inline-block;
	position: fixed;
	top: 60px;
	z-index: 1;
	margin-left: 0;

	height: 600px;
	width: 600px;
	background-color: #ddd;
}
