@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');

:root {
	/* equals to 7xl in tailwind default responsive unit */
	--max-width: 80rem;
}

body {
	@apply text-[#363636] flex flex-col min-h-svh mb-0;
	font-family: "Noto Sans KR", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	word-break: keep-all;
}

.plane {
	@apply m-0 p-0;
}

main {
	@apply grow mx-auto my-0 w-full md:max-w-3xl;
}

footer {
	@apply footer p-3 pt-7 pb-10 max-w-4xl m-auto border-t-[1px] border-neutral-200 text-sm h-fit;
	font-family: 'Noto Sans KR', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
	@apply shadow-none;
}

#brand {
	font-family: "궁서", "Gungsuh", "Times New Roman", Times, serif;
}