@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap");

@import "tailwindcss";

@plugin "flyonui";
@plugin "@iconify/tailwind4";
@import "flyonui/variants.css";
@source "/node_modules/flyonui/flyonui.js";

@import "@styles/theme.css";

:root {
  /* equals to 7xl in tailwind default responsive unit */
  --max-width: 80rem;
}

a {
  @apply link;
}
.plane {
	@apply m-0 p-0 grow;
}

body {
  @apply text-[#363636] flex flex-col min-h-svh mb-0;
  word-break: keep-all;
}

main {
  @apply mx-auto my-0 w-full md:max-w-3xl;
}

.footerContainer {
  /* @apply bg-[#675350] text-[#fcf8ee] ; */
  /* @apply bg-mojo-200; */
}
footer {
  @apply footer p-3 pt-7 pb-10 max-w-4xl m-auto border-t-[1px] border-neutral-200 text-sm h-fit;
  font-family: "Noto Sans KR", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  @apply shadow-none;
}

#brand {
  font-family: "궁서", "Gungsuh", "Times New Roman", Times, serif;
}
