@import url("https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+KR:wght@100..900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap");
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css");

@font-face {
  font-family: 'Minguk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Minguk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* font-family: 'Minguk-Regular'; */
@font-face {
  font-family: 'Minguk';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Minguk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@plugin "flyonui";
@plugin "@iconify/tailwind4";
@import "flyonui/variants.css";
/* @source "/node_modules/flyonui/flyonui.js"; */
@source "../../node_modules/flyonui/flyonui.js";


@import "@styles/theme.css";

:root {
  /* equals to 7xl in tailwind default responsive unit */
  --max-width: 80rem;
}

body {
  @apply text-[#363636] flex flex-col min-h-svh mb-0 items-center h-fit w-full;
  word-break: keep-all;
  font-family: "Nanum Square Neo", "Noto Sans KR", "Noto Sans CJK KR", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
}

.paper {
  @apply m-0 p-0 grow w-full;
}

main {
  @apply mx-0 my-0 w-full md:max-w-7xl;
}

.footerContainer {
  /* @apply bg-[#675350] text-[#fcf8ee] ; */
  /* @apply bg-mojo-200; */
}

footer {
  @apply footer p-3 pt-7 pb-10 max-w-4xl m-auto border-t-[1px] border-neutral-200 text-sm h-fit;
}

.card {
  @apply shadow-none;
}