@tailwind base;

body {
	@apply m-0 bg-gray-900 text-amber-50;
}

.container {
	@apply static flex h-screen w-full flex-col;
}

main {
	@apply row-start-1 h-1/2 overflow-scroll;
}

sidebar {
	@apply top-1/2 row-start-2 m-2 h-auto bg-amber-900 p-2 sticky;
    display: none;
}

.scene {
	@apply m-2 block snap-start p-2;
}
