@theme {
  /* theme name ->  */
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Noto Sans KR",
    "Noto Sans CJK KR", "Apple SD Gothic Neo", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-paper-50: oklch(98.32% 0.002 325.59);
  --color-paper-100: oklch(96.73% 0.005 325.62);
  --color-paper-200: oklch(93.57% 0.011 339.34);
  --color-paper-300: oklch(90.8% 0.014 0.29);
  --color-paper-400: oklch(87.4% 0.019 25.62);
  --color-paper-500: oklch(83.29% 0.03 67.39);
  --color-paper-600: oklch(77.37% 0.037 26.63);
  --color-paper-700: oklch(70.02% 0.05 1.81);
  --color-paper-800: oklch(59.31% 0.073 339.93);
  --color-paper-900: oklch(43.44% 0.053 325.18);
  --color-paper-950: oklch(22.07% 0.013 314.54);

  --color-mojo: oklch(90.11% 0.00174 67.8);
  --color-mojo-50: oklch(93.177% 0.00108 17.177);
  --color-mojo-100: oklch(90.11% 0.00174 67.8);
  --color-mojo-200: oklch(83.222% 0.00275 106.46);
  --color-mojo-300: oklch(76.062% 0.00305 84.562);
  --color-mojo-400: oklch(68.615% 0.00449 91.466);
  --color-mojo-500: oklch(61.078% 0.00508 78.286);
  --color-mojo-600: oklch(53.121% 0.00478 91.487);
  --color-mojo-700: oklch(44.979% 0.00347 84.57);
  --color-mojo-800: oklch(36.414% 0.00365 84.575);
  --color-mojo-900: oklch(27.236% 0.00182 106.52);
  --color-mojo-950: oklch(22.173% 0.00191 106.55);
}
