---
import Paper from "/src/layouts/Paper.astro";

export const frontmatter = {
    title: "진실은 앙상하다",
};
---

<Paper frontmatter={frontmatter}>
        <main>
            <article>
                <section>
                    <h2>진실은 앙상하다</h2>

                    <p>
                        완벽한 기록이란 존재하지 않는다. 상상력은 불완전한 기억의 씨줄과 날줄을 가로지는 빈틈을 채우는 아교다. 기록의 마침표가 언제나 상상력인 이유다. 
                    </p>

                    <h2>문제는 말이 아니라 행동이다.</h2>

                    <p>
                        말은 향신료다. 썩은 고기도 그럭저럭 입에 넣을 수 있게
                        해준다. 말맛으로 씹어 넘긴 고기에 탈이 나기도 한다. 잘
                        쓰면 약이지만 과하면 독이 된다. 행동은 뼈다귀다. 뼈에는
                        맛이 없다. 딱딱하고
                    </p>

                    <p>
                        오늘날 직업 정치인의 행동을 기록하는 일은 냄새 나는
                        짬통에서 뼈다귀를 끄집어 내는 일이다. 악취를 참고
                        향신료에 절어 썩은 내가 고기를 발라내야 한다. 그래야
                        겨우 누런 오물 아래 뼈가 모습을 보인다.
                    </p>

                    <p>
                        그래서 행동을 기록하기는 어렵다. 진위를 판별하는데 더
                        많은 노력을 기울여야 한다. 그렇게 기껏 찾아낸 진실은
                        대부분 비루하다. 품위와 명분은 사라지고 탐욕과 고집이
                        남는다. 실컷 고기를 뜯고 씹고 맛보며 즐기는 사이 살을
                        지탱하던 앙상한 뼈와 냄새나는 오장육부는 그렇게
                        쓰레기통으로 향한다.
                    </p>
                    <p>
                        무엇이 진실인지 모두들 알고 있었다. 그러나 앞에 나서
                        자신이 아는 바를 입에 담는 이는 없었다. 차라리 체면이나
                        헛된 기대 혹은 그 비슷한 무엇을 보앗노라고 말할 수
                        있다면 이처럼 비참하지는 않을 것이다. 그러나 우리는 알고
                        있다. 앙상한 진실에 살을 붙이고 분칠을 하는 매 순간 두
                        눈을 질끈 감을 수 있었던 건 우리의 모두의 헛된 기대와
                        희망이었다.
                    </p>

                    <h2>다시 그림으로</h2>

                    <p>
                        우리는 분명히 밝히고자 한다. 그림에 진실은 없다. 그림은 그저 설득을 위한 도구일 뿐이다. ([카이로, 2020](zotero://select/library/items/WIWQN64T)) 간혹 매우 힘이 센 도구일 때도 있지만 유일한 도구도 아니며 언제나 정답도 아니다.
                        뻔한 거짓말은 달콤하다. 너무나 뻔해서, 쉽고 간편해서
                        생각이 끼어들 틈이 없다.
                    </p>
                    <blockquote>조선인이 우물에 독을 탔다.</blockquote>
                    <p>
                        얼마나 편리한가. 조선인은 인간 말종. 편협이라는 단어는
                        사치다. 아무 생각 없이 손발을 놀리고 목청을 높이는
                        용감함의 원천은 나태함이다. 꼬일대로 꼬인 진실의 매듭을
                        외면도록 부추기는 자는 게으름이다.
                    </p>
                </section>
            </article>
        </main>
</Paper>
