---
---
<!doctype html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS declaration (internal & external) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <!-- document title -->
    <title>

    </title>
</head>

<body>
    <!-- The main header used across all the pages of our website -->
    <header>
        <h1>Document Heading</h1>
    </header>

    <!-- SITE NAVIGATION-->
    <nav>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <!-- site search form if possible -->

    </nav>

    <!-- MAIN CONTENT-->
    <main>
        <article>
            <h2>Article Heading</h2>

            <!-- article introduction -->
            <p></p>

            <section>
                <h3>Section Heading 1</h3>
                <p></p>
            </section>

            <section>
                <h3>Section Heading 2</h3>
                <p></p>
            </section>

        </article>
    </main>

    <footer>
        <p>
            &copy; vizualizer.net
        </p>
    </footer>
    <script is:inline src="https://d3js.org/d3.v7.min.js"></script>

</body>

</html>