---
import Welcome from "../components/Welcome.astro";
import Paper from "../layouts/Paper.astro";
import Footer from "../layouts/Footer.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<style>
	li {
		list-style-type: none;
	}
</style>

<Paper title="true.sca.pe">
	<nav>
		<ul>
			<li>Home</li>
		</ul>
	</nav>
	<h1></h1>
</Paper>
