.plane{
	@apply bg-slate-200;
}
.container {
	@apply max-w-6xl relative;
}

#graphic {
	@apply relative mx-auto flex-col justify-center;
}

#sections {
	@apply block z-30;
	/* padding-bottom: 200px; */
}

#vis {
	@apply sticky top-12 h-[50vh] items-start justify-center z-0;
}

#vis svg {
	@apply mx-0 w-full md:max-w-xl aspect-square object-cover;
}

#vis .title {
	@apply text-4xl;
	text-anchor: middle;
}

#vis .sub-title {
	text-anchor: middle;
}

p {
	@apply max-w-xl mx-auto;
}

.step {
	@apply max-w-xl h-screen mx-auto items-center justify-center content-start p-10 pb-[50vh] bg-yellow-500/0;
}
.step .title {
	@apply text-2xl font-serif font-bold;
}

.axis path,
.axis line {
	fill: none;
	stroke: #666;
	shape-rendering: crispEdges;
}

.highlight {
	fill: #008080;
	font-weight: bold;
}

.cough-arrow {
	stroke: #000;
	stroke-width: 4px;
}

#extra-space {
	@apply hidden;
	/* height: 300px; */
}
