---
import "@styles/global.css";
---
<a
  class="link text-base-content link-neutral text-xl font-semibold no-underline"
  href="/"
  ><img src="/logo.svg" alt="로고입니다. 클릭하면 첫 페이지로 이동합니다." class="inline" /><span class="align-sub text-xs font-bold hidden">.KR</span></a
>
