---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import PostList from "./PostList.astro";
---

<div>
	<main>
		<h1>UI lab</h1>

		<section>
			<h2>Official documents</h2>
		</section>

		<section></section>

		<section>
			<h2>Pages</h2>
			<PostList />
		</section>
	</main>
</div>
