---
import Paper from "/src/layouts/Paper.astro";

export const frontmatter = {
    title: "12.3 내란의 전모",
    url: "12월 3일 내란의 전모",

    section: "정치",
    pubDate: "2025-02-13",
    description: "같이 갑니다",
    author: "진경수",
    image: {
        url: "https://flexible.img.hani.co.kr/flexible/normal/806/504/imgdb/original/2025/0117/20250117502492.webp",
        alt: "",
    },
    tags: ["astro", "blogging", "learning in public"],
    priority: 1,
};

export async function getStaticPaths() {
    return [
        { params: { section: frontmatter.section } },
        { params: { url: frontmatter.url } },
    ];
}

export const log = [
    {
        date: "2025-02-14",
        time: "13:46:19",
        log: "홍장원 차장, 헌재서 계엄 당일 상황 기록한 메모 공개",
    },
];

const { section } = Astro.params;
const { url } = Astro.params;
---

<Paper frontmatter={frontmatter}>
    <article class="articleBox">
        <main>
            <h1>윤석열 운명, 3월 초에 결정?...탄핵심판 9차 변론 한번 남았다</h1>
            
            <img src={frontmatter.image.url} />
            <p class="text-sm text-gray-600">{frontmatter.pubDate}</p>
            <p class="text-sm text-gray-600">{frontmatter.section}</p>
            
            <section>
                <h2>대리인단 총사퇴 염두?</h2>
                <p>
                    윤 대통령 측은 중대 결심에 대해 구체적으로 언급하지 않았지만
                    헌재가 추가변론기일을 잡지 않으면 변호인단이 총사퇴할 수
                    있다는 뜻을 시사한 것이란 분석이 제기됐다.
                </p>
                <p>
                    헌법재판소법 25조 3항은 '각종 심판절차에서 당사자는 변호사를
                    대리인으로 선임하지 않으면 심판청구를 하거나 심판 수행을
                    하지 못하고, 다만 당사자가 변호사 자격이 있는 경우는 예외로
                    한다'고 규정하고 있다. 대리인단이 전부 사퇴할 경우 헌재
                    탄핵심판을 계속 진행할 수 있는지가 쟁점이 될 수 있다는
                    얘기다. 헌재가 윤 대통령에 대한 탄핵 심판 변론기일을 한 차례
                    추가로 잡기는 했지만, 헌재 최종 결정 기일에 큰 영향을 미치지
                    않을 것으로 보인다.
                </p>
            </section>
        
        </main>
    </article>
</Paper>
