---
import Paper from "/src/layouts/Paper.astro";
// const { frontmatter } = Astro.props;

export const frontmatter = {
    title: "본문 분할 가능 여부 시험",
    url: "섹션 분할 시험",
    section: "정치",
    pubDate: "2024-12-13",
    description:
        "우리는 이에 우리 조선이 독립한 나라임과 조선 사람이 자주적인 민족임을 선언한다. 이로써 세계 만국에 알리어 인류 평등의 큰 도의를 분명히 하는 바이며, 이로써 자손 만대에 깨우쳐 일러 민족의 독자적 생존의 정당한 권리를 영원히 누려 가지게 하는 바이다.",
    author: "진경수",
    image: {
        url: "https://flexible.img.hani.co.kr/flexible/normal/806/504/imgdb/original/2025/0117/20250117502492.webp",
        alt: "",
    },
    tags: ["astro", "blogging", "learning in public"],
    priority: 2,
};

export async function getStaticPaths() {
    return [
        { params: { section: frontmatter.section } },
        { params: { url: frontmatter.url } },
    ];
}

export const log = [
    {
        date: "2025-02-14",
        time: "13:46:19",
        log: "홍장원 차장, 헌재서 계엄 당일 상황 기록한 메모 공개",
    },
];

const { section } = Astro.params;
const { url } = Astro.params;
---

<Paper frontmatter={frontmatter}>
    <article class="articleBox">
        <main>
            <section class="scene">
                <h2>하나</h2>
                <p>
                    우리는 이에 우리 조선이 독립한 나라임과 조선 사람이 자주적인
                    민족임을 선언한다. 이로써 세계 만국에 알리어 인류 평등의 큰
                    도의를 분명히 하는 바이며, 이로써 자손 만대에 깨우쳐 일러
                    민족의 독자적 생존의 정당한 권리를 영원히 누려 가지게 하는
                    바이다.
                </p>
            </section>

            <section class="scene">
                <h2>둘</h2>
                <p>
                    5천 년 역사의 권위를 의지하여 이를 선언함이며, 2천만 민중의
                    충성을 합하여 이를 두루 펴서 밝힘이며, 영원히 한결같은
                    민족의 자유 발전을 위하여 이를 주장함이며, 인류가 가진
                    양심의 발로에 뿌리박은 세계 개조의 큰 기회와 시운에 맞추어
                    함께 나아가기 위하여 이 문제를 내세워 일으킴이니, 이는
                    하늘의 지시이며 시대의 큰 추세이며, 전 인류 공동 생존권의
                    정당한 발동이기에, 천하의 어떤 힘이라도 이를 막고 억누르지
                    못할 것이다.
                </p>
            </section>

            <section class="scene">
                <h2>셋</h2>
                <p>
                    낡은 시대의 유물인 침략주의, 강권주의에 희생되어, 역사가
                    있은 지 몇천 년만에 처음으로 다른 민족의 압제에 뼈아픈
                    괴로움을 당한 지 이미 10년이 지났으니, 그 동안 우리의
                    생존권을 빼앗겨 잃은 것이 그 얼마이며, 정신상 발전에 장애를
                    받은 것이 그 얼마이며, 민족의 존엄과 영예에 손상을 입은 것이
                    그 얼마이며, 새롭고 날카로운 기운과 독창력으로 세계 문화에
                    이바지하고 보탤 기회를 잃은 것이 그 얼마나 될 것이냐?
                </p>
            </section>

            <section class="scene">
                <h2>넷</h2>
                <p>
                    슬프다! 오래 전부터의 억울을 떨쳐 펴려면, 눈앞의 고통을 헤쳐
                    벗어나려면, 장래의 위협을 없애려면, 눌러 오그라들고 사그라져
                    잦아진 민족의 장대한 마음과 국가의 체모와 도리를 떨치고
                    뻗치려면, 각자의 인격을 정당하게 발전시키려면, 가엾은 딸
                    아들에게 부끄러운 현실을 물려주지 않으려면, 자자손손에게
                    영구하고 완전한 경사와 행복을 끌어 대어 주려면, 가장 크고
                    급한 일이 민족의 독립을 확실하게 하는 것이니, 2천만의
                    사람마다 마음의 칼날을 품어 굳게 결심하고, 인류 공통의 옳은
                    성품과 이 시대의 지배하는 양심이 정의라는 군사와 인도라는
                    무기로써 도와 주고 있는 오늘날, 우리는 나아가 취하매 어느
                    강자를 꺾지 못하며, 물러가서 일을 꾀함에 무슨 뜻인들 펴지
                    못하랴!
                </p>
            </section>

            <section class="scene">
                <h2>다섯</h2>
                <p>
                    병자수호조약 이후, 때때로 굳게 맺은 갖가지 약속을 배반하였다
                    하여 일본의 신의 없음을 단죄하려는 것이 아니다. 그들의
                    학자는 강단에서, 정치가는 실제에서, 우리 옛 왕조 대대로 닦아
                    물려 온 업적을 식민지의 것으로 보고, 문화 민족인 우리를
                    야만족같이 대우하며 다만 정복자의 쾌감을 탐할 뿐이요, 우리의
                    오랜 사회 기초와 뛰어난 민족의 성품을 무시한다 해서 일본의
                    의리 없음을 꾸짖으려는 것도 아니다. 스스로를 채찍질하고,
                    격려하기에 바쁜 우리는 남을 원망할 겨를이 없다. 현 사태를
                    수습하여 아물리기에 급한 우리는 묵은 옛 일을 응징하고 잘못을
                    가릴 겨를이 없다. 오늘 우리에게 주어진 임무는 오직 자기
                    건설이 있을 뿐이요, 결코 묵은 원한과 일시적 감정으로써 남을
                    시새워 쫓고 물리치려는 것이 아니로다.
                </p>
            </section>

            <section class="scene">
                <h2>여섯</h2>
                <p>
                    낡은 사상과 묵은 세력에 얽매여 있는 일본 정치가들의 공명에
                    희생된, 불합리하고 부자연에 빠진 이 어그러진 상태를 바로잡아
                    고쳐서, 자연스럽고 합리로운, 올바르고 떳떳한, 큰 근본이 되는
                    길로 돌아오게 하고자 함이로다.
                </p>
            </section>
        </main>
    </article>
</Paper>
