---
import "/src/styles/global.css";
import GlobalNav from "./GlobalNav.astro";
import Footer from "./Footer.astro";

const title = "그림";
const { data } = Astro.props;
---

<!DOCTYPE html>
<html lang="ko" data-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="favicon.png">
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
        <meta name="generator" content={Astro.generator} />
        <title>{data?.headline}</title>
    </head>
    <body class="">
        <!-- {} -->
        <div class="flex flex-col min-h-svh mb-0">
            <GlobalNav title={title} />
            <slot />
            <Footer title={} />
        </div>
    </body>
</html>

<script is:inline src="/node_modules/flyonui/flyonui.js"></script>
